<div class="show_body">

<img class="show_main_image" src="<%= @article.main_img_url %>" alt="">
<h1><%= @article.title %></h1>
<h4><%= @article.author_name %></h4>
<p><%= @article.paragraph_one %></p>
<img class="show_evidence_image" src="<%= @article.evidence_img_one_url %>" alt="">
<img class="show_evidence_image" src="<%= @article.evidence_img_two_url %>" alt="">
<p><%= @article.paragraph_two %></p>
<p><%= @article.paragraph_three %></p>
</div>
