<!DOCTYPE html>
<html>
  <head>
    <title>KidsGetWoke</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
  </head>
<header>
  <marquee scrollamount="10" direction="right"><img class="ufo" src="http://www.netanimations.net/alien_65.gif" alt="UFO"></marquee>
  <h1 class="center_text_no_marg computer_font main_title">Kids Get Woke</h1>
  <p class="center_text_no_marg computer_font nav_links"><%= link_to "Main Page", articles_path %></p>
  <div class="header_bottom"></div>
  <marquee class="computer_font">YOU HAVE TO GET WOKE OR THEY WILL KEEP YOU ASLEEP! OPEN YOUR THIRD EYE AND SEE THE WORLD AROUND YOU! THEY'RE WATCHING YOU! DON'T FORGET YOUR WATER FILTERS AND GAS MASKS! HAVE YOU SEEN THE CHEMTRAILS, BRO? TINFOIL HATS REQUIRED HERE! OPEN YOUR MIND!</marquee>
  <div class="header_bottom"></div>
</header>
  <body>
    <%= yield %>
  </body>
</html>
